* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: whitesmoke;
    background-color: #121e37;

    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}


header {
    font-family: 'Space Mono', monospace;
    color: #F8FAFC;
    height: 80px;
    background-color: #0B1220;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #1E293B;

}

.image-icon img {
    margin-top: 5px;
    border-radius: 15px;
    border: 1px solid #8aa2bbac;
}

.navbar {
    font-size: 11px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-other {
    color: #8aa2bbac;
}

.nav-one {
    color: #F8FAFC;
}

.nav-other:hover {
    color: #F8FAFC;

}

.nav-one,
.nav-other {
    cursor: pointer;
    background-color: rgba(66, 68, 80, 0.331);
    padding: 0.5vw 1vw;
    border-radius: 8px;
    text-decoration: none;
}

.head-icon {
    color: #F8FAFC;
    cursor: pointer;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.nav-left {
    font-size: 1em;
}


.head-right {
    display: flex;
    align-items: center;
    font-size: 11px;
    cursor: pointer;
    color: #ffffffff;

}

.head-right .nav-right {
    background-color: rgba(66, 68, 80, 0.331);
    padding: 0.5vw 1vw;
    border-radius: 8px;
}

.menu-btn {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
}

.hero-section {
    height: 90%;
    padding: 150px 25px;
    display: flex;
}

.hero {
        width: min(90%, 1200px);
    margin-inline: auto;
    
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px 20%;
    word-spacing: 5px;
    align-items: center;
    justify-content: center;

}


.hero h1 {
    color: #F8FAFC;
    line-height: 1.3;
    font-size: 75px;
    font-family: "DM Serif Display", serif;
    margin: 25px 0px 25px;
    font-weight: 400;
}

.hero h1 span {
    background: linear-gradient(90deg, #00D4FF, #458ac6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    font-family: "Inter", sans-serif;
    margin: 0px 5% 8%;
    font-size: 1rem;
    font-weight: 500;
    color: #b3b7c1bd;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 1em;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
}

.button .left-button {
    padding: 10px 20px;
    background-color: #4a9ce3;
    border-radius: 10px;
    text-decoration: none;
    color: #0B1220;

}

.left-button:hover {
    background-color: #00D4FF;
    box-shadow: 0 0 10px #00D4FF;

}

.button .right-button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #333c4b;
    text-decoration: none;
    color: #F8FAFC;
}

.right-button:hover {
    border: 1px solid #88909d;
}
 
.stats-section {
         width: 100%;
    height: auto; 

}
.stats-section .text-box  {
    height: 100px;
            background-color: #333c4b;
  border-radius: 20px;
            font-family: serif;
  margin: 0px 80px;
  padding: 24px 24px;
   display: flex;
   justify-content: space-between;
   border: 2px solid #0B1220;
    
}
.text-center {
     font-family: "Electrolize", sans-serif;
    height: auto;
      width: 250px;
      align-items: center;
    justify-self: space-around;
    height: auto;
   
    text-align: center;
     
     gap: 30px;
    
}
.text-center h1 {
  height: 40px;
 font-size: 35px;

 }
 .text-center p {
    height: 12px;
    font-size:10px;
    letter-spacing: 2px;
  }

/* Tablet */
@media (max-width: 1024px) {}

/* Mobile */
@media (max-width: 768px) {
    header {
        height: 70px;
         padding: 0.5rem 1rem;
    }

    .image-icon img {
        height: 50px;
        width: 50px;
    }

    .head-right {
        display: none;
    }

    .navbar {
        display: none;
    }

    .menu-btn {
        display: block;
        color: aliceblue;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 65px;
        right: 15px;
        width: auto;
        padding: 15px;
        background-color: #0B1220;
        flex-direction: column;
        border-radius: 5px;
        border: 2px solid #1E293B;

    }

    .nav-one,
    .nav-other {
        background: none;
    }


    .navbar.active {
        display: flex;
    }

    .hero-section {
        padding: 160px 12px;
    }

    .hero {
     
        width:calc(100vh - 70px);
        height: 100%;
        margin: 0px 50px;
    }

    .hero h1 {
        color: #F8FAFC;
        font-size: 5vh;
        line-height: 1.5;
        margin: 0px;
    }

    .hero p {
        width: 90%;
        margin: 30px 0px;
        font-size: 1em;
    }

    .button {
        display: flex;
        flex-direction: column;
        gap: 15px;
     
    }

    .button .left-button ,.button .right-button{
        padding: 10px 20px;
        border-radius: 13px;
    }

      




/* Small Mobile */
@media (max-width: 480px) {
     header {
        height: 60px;
         padding: 0.5rem 1rem;
    }

   
    .image-icon img {
        height: 40px;
        width: 40px;
    }

    .right-button img , .left-button img {
      display: none;
    }

    .hero-section {
        padding:100px 6px;
    }

    .hero {
        margin: 0px 15px;
    }

    .hero h1 {
         font-size: 3rem;
        line-height: 1.4;
        margin: 0px;
    }

    .hero p {
        width: 90%;
        margin: 20px 0px;
        font-size: 0.7rem;
        line-height: 18px;
    }

    .button {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 10px;
    }

    .button .left-button ,   .button .right-button {
        padding: 8px 16px;
        border-radius: 30px;
    }

   
}